{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": ["prettier", "@typescript-eslint", "react", "jsx-a11y", "compat"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": ["error"],
    "compat/compat": "warn",
    "indent": 0,
    "no-console": 0,
    "no-tabs": 0,
    "eol-last": ["error", "always"],
    "max-len": 0,
    "newline-per-chained-call": 0,
    "no-confusing-arrow": 0,
    "no-useless-catch": 0,
    "no-use-before-define": 0,
    "no-underscore-dangle": 0,
    "no-multiple-empty-lines": "off",
    "class-methods-use-this": "off",
    "consistent-return": "off",
    "prefer-template": 2,
    "require-yield": 0,
    "arrow-body-style": 0,
    "arrow-parens": "off",
    "import/newline-after-import": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": 0,
    "import/imports-first": 0,
    "import/no-dynamic-require": 0,
    "import/no-named-as-default": 0,
    "import/no-unresolved": 2,
    "import/no-webpack-loader-syntax": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/mouse-events-have-key-events": 2,
    "jsx-a11y/role-has-required-aria-props": 2,
    "jsx-a11y/role-supports-aria-props": 2,
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/aria-props": 2,
    "jsx-a11y/heading-has-content": 0,
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "controlComponents": ["Input"]
      }
    ],
    "react/jsx-wrap-multilines": "off",
    "react/jsx-indent": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-closing-tag-location": 0,
    "react/jsx-first-prop-new-line": [2, "multiline"],
    "react/jsx-no-target-blank": 0,
    "react/jsx-uses-vars": 2,
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".jsx", ".tsx"]
      }
    ],
    "react/forbid-prop-types": 0,
    "react/require-default-props": 0,
    "react/react-in-jsx-scope": 0,
    "react/destructuring-assignment": 0,
    "react/no-direct-mutation-state": "off",
    "react/no-deprecated": "off",
    "react/no-string-refs": "off",
    "react/require-extension": 0,
    "react/self-closing-comp": 0,
    "react/sort-comp": 0,
    "react/require-render-return": "off",
    "react/button-has-type": "off",
    "react/no-array-index-key": "off",
    "react/prop-types": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/consistent-type-assertions": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
