.loading {
  text-align: center;
}

.loading-box {
  margin: 25px 0px 5px;
  height: 60px;

  .responsive(450px, {
    height: 30px;
  });
}

.loading-box.fullscreen {
  margin: 0;
  height: 0;

  .loading {
    position: fixed;
    right: 0;
    top: 0;
    line-height: 400px;
    left: 0;
    height: 100%;
    background-color: @transparent-black;
    z-index: 4;
  }
}
