.rich-text-editor {
  margin-bottom: 15px;

  .draft-editor {

    .public-DraftEditor-content {
      background-color: @white;
      padding: 10px;
      min-height: 100px;
      margin-bottom: 15px;
      width: 100%;

      &:focus {
        outline-style: solid !important;
        outline-width: 1px !important;
        outline-color: @outline-color !important; 
      }
    }
  }

  .editor-actions {
    margin-bottom: 15px;
    text-align: center;
  }
}
