.rich-text-field {
  width: 100%;
  margin-bottom: 15px;

  .content-editable {
    background-color: @white;
    padding: 10px;
    .flex();
    .text-ellipsis();

    &:focus {
      outline-style: solid;
      outline-width: 1px;
      outline-color: @outline-color; 
    }
  }
}
