.rich-text-editor {
  margin-bottom: 15px;

  .draft-editor {
    background-color: @white;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
  }

  .draft-editor.focused {
    outline-style: solid;
    outline-width: 1px;
    outline-color: @outline-color;
  }

  .editor-actions {
    margin-bottom: 15px;
    text-align: center;
  }
}
