.rich-text-editor {
  width: 100%;
  margin-bottom: 8px;
 
  .draft-editor {
    margin-bottom: 8px;

    .public-DraftEditor-content {
      background-color: @white;
      padding: 10px;
      min-height: 100px;
      width: 100%;
      .border-radius(4px);

      &:focus {
        border: @border-default;
        border-color: @border-color;
        .box-shadow(@box-shadow);
      }
    }
  }

  .draft-editor.danger {

    .public-DraftEditor-content {
      border: @border-default;
      border-color: @error-color;

      &:focus {
        border-color: @error-color;
        .box-shadow(none);
      }
    }
  }

  .editor-actions {
    text-align: center;
  }
}
