.app-brand {
  background-color: @theme-light-blue;
  height: 32px;
  margin: 16px;
}

.header {

  .ant-col {

    &:nth-child(1) {
      display: none;

      .responsive(576px, {
        display: block;
      });
    }
  }

  .menu-bars {
    padding-left: 20px;
  }
}