.antd-sidebar {

  .app-brand {

    .anticon-close {
      display: none;
      color: @white;
      text-align: right;
      padding: 10px;
    }
  }

  .ant-menu-item {
    .flex();
    align-items: center;
  }

  .sidebar-link {
    width: 100%;

    a {
      color: @white;
      display: block;

      &:hover {
        color: @link-color;
      }
    }
  }
}
  

.responsive(576px, {

  .antd-sidebar.ant-layout-sider-collapsed{
    position:fixed;
    height: 100%;
    z-index:2;
    left:-90px;


  }


  .app-brand{
    background-color: inherit;
    .anticon-close{
      display: block !important;
    }
  }

  .antd-sidebar {
    position:fixed;
        height: 100%;
        z-index:2;      
        width: 0px !important;
        min-width: 0px !important;
        max-width: 0px !important;

        left:-90px !important;
        // visibility: hidden;

    }
    

    .ant-layout-sider-trigger{
        display: none;                
    }
    
     .sidebar-active{

        .ant-menu-inline-collapsed{
        width: auto;
    
        .sidebar-link {
            max-width: 100% !important;
            opacity: 1!important;
            padding-left: 16px;
          }
        }
    
        .antd-sidebar{
            width: 200px !important;
            min-width: 200px !important;
            max-width: 200px !important;
            left:0!important;
            }
        }


    });
