.antd-sidebar {

  .ant-menu-item {
    .flex();
    align-items: center;
  }

  .sidebar-link {
    width: 100%;

    a {
      color: @white;
      display: block;

      &:hover {
        color: @link-color;
      }
    }
  }
}
  