// Notes styles

.notes {

  .note {
    padding: 15px;
    background-color: @theme-secondary;
  }

  .loading-box {
    margin: 5px 0px;
    height: 50px;
  }

  .note-actions {
    margin-bottom: 15px;
    width: 100%;
  }

  .draft-editor {
    min-height: 100px;
  }
}

// Add note form styles

.add-note-form {
  background-color: @theme-light-blue;
  height: 100%;
  flex-direction: column;
  align-items: center;
  .flex();

  .label {
    color: @white;
  }

  .add-note-box {
    width: 100%;
    padding: 15px;
  }

  .rich-text-editor {
    width: 100%;
  }

  .note-actions {
    width: 100%;
  }
}

// Hidden add note form

.add-note-hidden {
  background-color: @theme-light-blue;
  height: 100%;
  min-height: 357px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .flex();

  .add-note-text {
    color: @white;
    margin-top: 10px;
  }
}
