// Notes styles

.notes {

  .note {
    position: relative;
    padding: 15px;
    background-color: @theme-secondary;

    .delete-note {
      position: absolute;
      right: -12px;
      top: -15px;
    }
  }

  .loading-box {
    margin: 5px 0px;
    height: 50px;

    .responsive(450px, {
      height: 30px;
    });
  }

  .note-actions {
    margin-bottom: 15px;
    width: 100%;

    .ant-btn {
      margin-right: 10px;
    }
  }
}

// Add note form styles

.add-note-form {
  background-color: @theme-light-gray;
  height: 100%;
  flex-direction: column;
  align-items: center;
  .flex();

  .add-note-box {
    width: 100%;
    padding: 15px;
  }

  .rich-text-editor {
    width: 100%;
  }

  .note-actions {
    width: 100%;
  }
}

// Hidden add note form styles

.add-note-hidden {
  background-color: @theme-light-gray;
  height: 100%;
  min-height: 357px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .flex();

  .add-note-text {
    margin-top: 10px;
  }
}


// Add note link & Modal styles

.add-note-link {
  text-align: left;
  margin-bottom: 25px;
}

.notes-modal {

  .add-note-form {
    background-color: @white;
  }

  .content-editable {
    background-color: @theme-light-gray!important;
  }

  .draft-editor {

    .public-DraftEditor-content {
      background-color: @theme-light-gray!important;
      min-height: 100px;
    }
  }
}